html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 95vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.qoute {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
  font-style: italic;
}

footer {
  width: 100vw;
  position: absolute;
  background-color: black;
  height: 5vh;
  vertical-align: middle;
  bottom: 0;
}

.languages {
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  color: aliceblue;
}
.lng-hun {
  color: whitesmoke;  
  font-size: 1.5rem;  
  text-decoration: none;
  
}

.lng-hun:hover {
  color: orangered;
  transition: .5s ease-in-out;
}

.lng-eng {
  color: whitesmoke;  
  font-size: 1.5rem;  
  text-decoration: none;
}

.lng-eng:hover {
  color: skyblue;
  transition: .5s ease-in-out;
}


@media (min-width: 768px) {
  .wrapper{
    padding-top: 5rem;
    margin-top: 4rem;
  }
  .author{
    font-size: 1.5rem;
  }
  .qoute {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
    }
}

@media (min-width: 1910px) {
  .wrapper{
    padding-top: 9rem;
    margin-top: 4rem;
  }
}

@media (min-width: 1910px) {
  .author {
    font-size: 2rem;
  }
}



