html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.qoute {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .qoute {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    padding-top: 8rem;
  }
}

@media (min-width: 1910px) {
  .qoute{
    padding-top: 8rem;
  }
}